
$primarybgcolor: #ec4141;
$secundarybgcolor: white;
$primarytextcolor: white;
$secundarytextcolor: #ec4141;

body{
    margin: 0 !important;
    padding: 0 !important;
    .red{
        color: $secundarytextcolor;
    }
    .btn-primary{
        background-color: $primarybgcolor;
        border: none;
    }
    #carousel {
        position: absolute;
        margin-top: 0;
        top: -8%;
        bottom: 0; 
        left: 0;
        right: 0;
        .carousel-inner,.carousel-item {
            height: 100%;
        }
        .carousel-item {
            background: no-repeat center/cover;
        }
        ol.carousel-indicators {
            margin-bottom: 10%;
        }
        div.carousel-item {
            filter: brightness(50%);
        }
    }
    .jumbotron{
        background-color: transparent !important;
        background-repeat: no-repeat;
        background-size: cover;
        nav{
            margin-top: 3%;
            margin-left: 0;
            display: flex;
            #AllezCine{
                font-size: 60px;
                text-align: left ;
                color: $primarytextcolor;
            }
            #navbarTogglerDemo02{
                margin-left: 20%;
                .searchbar{
                    margin-bottom: auto;
                    margin-top: auto;
                    height: 40px;
                    background-color: #0c0c0c5d;
                    .search_icon{
                        height: 35px;
                        width: 60px;
                        float: right;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: $primarytextcolor;
                        text-decoration:none;
                        &:hover{
                            color: $primarybgcolor;
                        }
                    }
                    .search_input{
                        color: $primarytextcolor;
                        border: 0;
                        outline: 0;
                        width: 0;
                        background: none;
                        caret-color:transparent;
                        line-height: 35px;
                    }
                }                
                .searchbar > .search_input{
                    padding: 0 15px;
                    width: 60%;
                    caret-color:$primarytextcolor;
                }
                
                ul{
                    .btn{
                        background-color: $primarybgcolor;
                        color: $primarytextcolor;
                        width: 100px;
                        height: 40px;
                        border: none;
                    }
                    .btn-void{
                        background-color: #36050591;
                        width: 60px;
                        height: 40px;
                    }
                    #contact{
                        color: $primarytextcolor;
                    }
                }
            }
        }
        #TTslider{
            .active{
                background-color: $primarybgcolor;
            }
        }
        #TTjumbo{
            margin:0;
            padding-top: 5%;
            padding-bottom: 5%;
            color: $primarytextcolor;
        }
    }
    .black-btn{
        background-color: black;
        color: $primarytextcolor;
    }
    #TTlogin-row{
        position:absolute;
        bottom: 7%;
        background-color: $primarybgcolor;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        color: $primarytextcolor;   
    }
    #TTmodalLog{
        .modal-header{
            background-color: $primarybgcolor;
            #TTloginModalLabel{
                color: $primarytextcolor;
            }   
        }
        .modal-body{
            .col-form-label{
                color: $secundarytextcolor;
            }
            #TTcheckbox-container{
                color: $secundarytextcolor;
            }
        }
        #TTforgotten{
            background-color: $primarybgcolor;
            a{
                color: white;
            }
        }
    }
    #TTmodalReg{
        .modal-header{
            background-color: $primarybgcolor;
            #TTloginModalLabel{
                color: $primarytextcolor;
            }   
        }
        .modal-body{
            .col-form-label{
                color: $secundarytextcolor;
            }
            #TTcheckbox-container{
                color: $secundarytextcolor;
            }
        }
    }
    
    #TTmain-container{
        position: absolute;
        bottom: 0%;
    }

    footer{
        background-color: black;
    }
}


/*
.cookie {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
*/