$primarybgcolor: #ec4141;
$secundarybgcolor: white;
$primarytextcolor: white;
$secundarytextcolor: #ec4141;

body{
    margin-left: 0;
    .red{
        color: $secundarytextcolor;
    }
    .btn-primary{
        background-color: $primarybgcolor;
        border: none;
    }
    header{
        background-repeat: no-repeat;
        background-size: cover;
        nav{
            margin-left: 0;
            display: flex;
            #AllezCine{
                font-size: 60px;
                text-align: left ;
                color: $primarytextcolor;
            }
            #navbarTogglerDemo02{
                margin-left: 20%;
                .searchbar{
                    margin-bottom: auto;
                    margin-top: auto;
                    height: 40px;
                    background-color: #0c0c0c5d;
                    .search_icon{
                        height: 30px;
                        width: 30px;
                        float: right;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: $primarytextcolor;
                        text-decoration:none;
                    }
                    .search_input{
                        color: $primarytextcolor;
                        border: 0;
                        outline: 0;
                        width: 0;
                        background: none;
                        caret-color:transparent;
                        line-height: 35px;
                    }
                }                
                .searchbar > .search_input{
                    padding: 0 5px;
                    width: 60%;
                    caret-color:$primarytextcolor;
                }
                
                ul{
                    .btn{
                        background-color: $primarybgcolor;
                        color: $primarytextcolor;
                        width: 100px;
                        height: 40px;
                        border: none;
                    }
                    .btn-void{
                        background-color: #0c0c0c5d;
                        width: 60px;
                        height: 40px;
                    }
                    #contact{
                        color: $primarytextcolor;
                    }
                }
            }
        }
        #TTjumbo{
            margin:0;
            padding-top: 5%;
            padding-bottom: 5%;
            color: $primarytextcolor;
        }
    }
}