.btn-primary{
    background-color: #ff4141;
    border: none;
}
.text-myred{
    color: #ff4141;
}
#jumbo{
    background-image: url("/img/temp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.btn:hover{
    background-color: #ec4141;
}